@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Vname</h1>
    <img id="foto" src="~/images/ivan.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi Curriculum</h1>
        <p>Actualmente estoy cursando un ciclo formativo de desarrollo de aplicaciones web en Monlau.

        <p>Me consideró una persona que le gusta trabajar en equipo y con ganas de aprender. Desde pequeño me ha gustado la informática y sin duda, he encontrado lo que me apasiona. </p>

Tengo experiencia en Java, JavaScript, PHP y creación de páginas Web con HTML y CSS.</p>
    </div>
</div>

