<h1 style="text-align:center; margin-bottom:30px">Contact</h1>
<div class="catalogo">
    <div class="contacto">
        <img class="imgcontacto" src="images/tienda.png">
        <h2>Direccion</h2>
        <br>
        <p>Calle Monlau 25</p>
        <p>Abierto de Lunes a Sabado</p>
        <p>8:00 a 22:00</p>

    </div>
    <div class="contacto">
        <img class="imgcontacto" src="images/telefono.png">
        <h2>Telefono</h2>
        <br>
        <p>+34 657842978</p>
        <p></p>
    </div>
    <div class="contacto">
        <img class="imgcontacto" src="images/correo.png">
        <h2>Correo</h2>
        <br>
        <p>Contact@RedsTowers.com</p>
    </div>
</div>
