<h1 style="text-align:center; margin-bottom:30px">
    HERE YOU CAN DOWNLOAD MY CV
</h1>
<div class="container">
	<div class="row row-cols-1 row-cols-md-3" style="margin-left:40%;">

			<div class="col">
				<div class="card h-100">
					<img src="/images/CV.png" class="card-img-top" alt="imagen proyecto" />
					<div class="card-body">
						<h5 class="card-title">CV Ivan Torres</h5>
					</div>
				<a class="btn btn-primary" href="/cv/Ivan Torres.pdf" target="_blank"
				   rel="noopener noreferrer" download="CV_IvanTorres.pdf">Download</a>
				</div>
			</div>
	</div>
</div>